@media only screen and (max-width: 768px) {
    .container .box-container .box .image-container .small-image{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container .box-container .box .image-container .small-image img{
        width: 20%;
        margin: 10px;
        object-fit: cover;
    }

    .container .box-container .box .image-container .big-image{
        width: 100%;
    }

    .container .box-container .box .image-container{
        display: inline-block;
    }
}